<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Productos</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-4">
    <h1>Lista de Productos</h1>
    <a class="btn btn-primary mb-3" href="/products/new">Nuevo Producto</a>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Código</th>
            <th>Descripción</th>
            <th>Precio de Venta</th>
            <th>Unidad</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <td th:text="${product.id}"></td>
            <td th:text="${product.code}"></td>
            <td th:text="${product.description}"></td>
            <td th:text="${product.salesPrice}"></td>
            <td th:text="${product.unity.description}"></td>
            <td>
                <a class="btn btn-info btn-sm" th:href="@{/products/{id}(id=${product.id})}">Ver</a>
                <a class="btn btn-warning btn-sm" th:href="@{/products/edit/{id}(id=${product.id})}">Editar</a>
                <form th:action="@{/products/delete/{id}(id=${product.id})}" method="post" style="display:inline;">
                    <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <!-- Botón para volver a la página de inicio -->
    <a th:href="@{/home}" class="btn btn-secondary mt-3">Volver a Inicio</a>
</div>
</body>
</html>
