<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Usuarios</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-4">
    <h1>Lista de Usuarios</h1>
    <a class="btn btn-primary mb-3" href="/users/new">Nuevo Usuario</a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre de Usuario</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.userName}"></td>
            <td>
                <a class="btn btn-info btn-sm" th:href="@{/users/{id}(id=${user.id})}">Ver</a>
                <a class="btn btn-warning btn-sm" th:href="@{/users/edit/{id}(id=${user.id})}">Editar</a>
                <form th:action="@{/users/delete/{id}(id=${user.id})}" method="post" style="display:inline;">
                    <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
